html{
    font-size: 20px;
    font-family: "Anybody", cursive;
    letter-spacing: 1px;
    background-color: #8DB8D2;
    margin: auto;
}
body{
    
    margin: 102px auto auto auto;
    background-color: white;
    padding: 10px 0px 0px 10px;
    text-align: left;

}
h5{
    
}
p, li{
    margin: auto;
    font-size: 20px;
    color: black;
    line-height: 2;
    letter-spacing: 2px;   
}
form{
    margin: 0 auto;
    width: 300px;
    padding: 1em;
}

form li + li{
    margin-top: 1em;
}
label{    
    width: 90px;
    text-align: right;
}
input,
textarea{
    font: 1em Anybody;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999
}
input:focus,
textarea:focus{
    border-color: #000;
}
textarea{
    vertical-align: top;
    height: 5em;
}
.button{
    padding-left: 90px;
}
button{
    margin-left: .5em;
}